<head>
   <link href="/css/StudentDetails.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="row">
      <div class="col-lg-12">
        <div class="list-group">
          <img src="/images/<%= item.src %>" class="single-image"/>
          <h4 class="list-group-item-heading"> Name :<%= item.firstName %> <%= item.lastName %></h4>
          <p class="list-group-item-text">Title: <%= item.title %></p>
          <p class="list-group-item-text">Nationality: <%= item.nationality %></p>
          <h4 class="list-group-item-heading"> Skills :<%= item.skills %></h4>
        </div>
      </div>
  </div>
</body>
